// Base body styles

body {
    background-color: $darkBlueGrey;

    .maxWrapper {
        max-width: 2260px;
        margin: 0 auto;
        position: relative;
    }

    ul {
        @include boxReset;
        list-style: none;
    };

    img {
        max-width: 100%;
        height: auto;
        display: block;
    };

    .wrapper {
        max-width: 1260px;
        width: 90%;
        margin: 0 auto;
    };

    a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-family: $buttonFont, sans-serif;
        text-transform: uppercase;
        font-weight: $buttonWeight;
        transition: 0.2s;

        &:focus,
        &:hover {
            outline: 4px solid $robinEggBlue;
        };

    };
    button {
        @include boxReset;
        padding: 10px 20px;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
        transition: 0.2s;

        &:focus,
        &:hover {
            outline: 4px solid $robinEggBlue;
        }
    };
    h3 {
        margin-bottom: 25px;
    };

    .findOutMore {
        background-color: $robinEggBlue;
        color: $darkBlueGrey;
        padding: 10px 40px;
        margin: 25px 0;

        &:focus,
        &:hover {
            outline: 4px solid white;
        }
    }

}  