
// Contact - <header> styling

.contactHeader {
    height: 55vh;

    .contactHeaderBG {
        background-image: url("../assets/contact-header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
        
        nav {
            flex-basis: 100%;
            margin-bottom: 0;
        }        
        .headingContainer {
            flex-basis: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 275px;
            
        }
        h2 {
            flex-basis: 100%;
            height: 100%;
            text-align: center;
        }
}
    .homeNav {
        color: white;
    }
    .contactNav {
        color: $robinEggBlue;
    }
}

// Contact - <main> styling
.contactMain .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 45vh;
    margin-top: -275px;

    .contactInfo {
        flex-basis: 19%
    }
    .contactFormSection {
        flex-basis: 70%;
    }
}

// Contact Info section - left column
.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    margin-top: -150px;

    a:hover,
    a:focus {
        outline: none;
        color: $robinEggBlue;
    }    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .facebook {
            padding-left: 0;
        }
    }
    .contactEmailAddress {
        @include fontSize(26);
        padding: 25px 0;    
        &:hover,
        &:focus {
            text-decoration: underline;

            h4 {
                color: $robinEggBlue;
                transition: 0.2s;
            }
        }
    }
    p {
        margin: 5px 0;
    }
}

// Contact - form section
.contactForm {
    background-color: $spruce;
    padding: 50px;
    margin-top: -150px;
    box-shadow:  -40px 40px 0px -6px $robinEggBlue;
    -webkit-box-shadow:  -40px 40px 0px -6px $robinEggBlue;
    input,
    textarea {
        background-color: $spruce;
    }
    button {
        background-color: $darkBlueGrey;
    }
}

.contactBody footer {
    margin-top: 100px;
}