.contactBody {
    height: 100vh;
}

// Contact - <header> styling
.contactHeader {
    height: 65vh;

    .contactHeaderBG {
        height: 65vh;
        background-image: url("../assets/contact-header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .homeNav {
        color: white;
    }
    .contactNav {
        color: $robinEggBlue;
    }

    .contactH2 {
        width: 70%;
        text-align: right;
        margin-top: 30px;
    }
}

// Contact - <main> styling
.contactMain .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto;

    .contactInfo {
        flex-basis: 19%
    }
    .contactFormSection {
        flex-basis: 69%;
    }
}

// Contact Info section - left column
.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;

    a:hover,
    a:focus {
        outline: none;
        color: $robinEggBlue;
    }    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .facebook {
            padding-left: 0;
        }
    }
    .contactEmailAddress {
        @include fontSize(26);
        padding: 25px 0;    
        &:hover,
        &:focus {
            text-decoration: underline;

            h4 {
                color: $robinEggBlue;
                transition: 0.2s;
            }
        }
    }
    p {
        margin: 5px 0;
    }
}

// Contact - form section
.contactForm {
    background-color: $spruce;
    padding: 50px;
    margin-top: -300px;
    box-shadow:  -40px 40px 0px -6px $robinEggBlue;
    -webkit-box-shadow:  -40px 40px 0px -6px $robinEggBlue;
    input,
    textarea {
        background-color: $spruce;
    }
    button {
        background-color: $darkBlueGrey;
    }
}