header {
    height: 100vh;
    margin-bottom: 75px;

    .headerBG {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/header-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 80vh;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 105px;

        .hamburger {
            position: absolute;
            left: -5000px;
        }
        ul {
                display: flex;
                flex-basis: 40%;
                justify-content: space-between;
                margin-top: 20px;
                flex-wrap: wrap;
            }
        .homeNav {
            color: $robinEggBlue;
        }
    }

    h1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: calc(100% / 3)
    }

    .goldfish {
        position: absolute;
        width: 50%;
        right: 0;
        top: 175px;
    }
    
}