header {
    margin-bottom: 200px;

    .headerBG {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/header-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        min-height: 80vh;
        max-height: 900px;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    nav {
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        max-height: 75px;

        .hamburger {
            position: fixed;
            left: -5000px;
            @include fontSize (34);
            padding: 5px 10px;
            z-index: 40;

            &:hover,
            &:focus,
            &:active {
                outline: 4px solid $robinEggBlue;
                color: $robinEggBlue;
            }
        }
        ul {
                display: flex;
                flex-basis: 40%;
                justify-content: space-between;
                margin-top: 20px;
                flex-wrap: wrap;
            }
        .homeNav {
            color: $robinEggBlue;
        }
    }

    h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: calc(100% / 3);
        margin-top: 90px;
    }

    .goldfish {
        width: 50%;
        position: absolute;
        right: 0;
        top: 155px;
    }
}