// Home - About Section - "What is Under the Sea?"

.about {
    padding: 50px 75px 100px 75px;
    margin-bottom: 50px;

    .contentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
}

// Home - News section - "New Additions" and "Meet Real Nemo"

.news {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 75px;
    background-color: $spruce;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    .imageContainer {
        flex-basis: 50%;
    }
    .leftImage {
        margin-left: -200px
        box-shadow: 40px 39px 0px 0px $robinEggBlue;
        -webkit-box-shadow: 40px 39px 0px 0px $robinEggBlue;
    }

    .rightImage {
        box-shadow: -40px 39px 0px 0px $robinEggBlue;
        -webkit-box-shadow: -40px 39px 0px 0px $robinEggBlue;
    }
    .newAdditions {
        display: flex;
        justify-content: space-between;

        .rightText {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: start;
        }
    }
    .realNemo {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;

        .leftText {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            text-align: right;
        }
    
    }
    .readMore {
        background-color: $darkBlueGrey;
        color: white;
        margin-bottom: 25px;
        width: 160px;
    }
}

// Home - Links section - "Locations, Community, Blog, Get In Touch"
.links {
    padding: 75px 0 25px 0;
    
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .locationsLink,
    .communityLink,
    .blogLink,
    .getInTouchLink {
        display: flex;
        flex-basis: 45%;
        justify-content: space-between;
        align-content: flex-start;
        margin-top: 25px;

        .contentBox {
            flex-basis: 89%;
            margin-left: 10px;
            margin-top: 6px;
        }
    }

    h4 a {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        font-size: $heading4Size;
        letter-spacing: $heading4Spacing;

        &:hover,
        &:focus {
            color: $robinEggBlue;
            outline: none;
            border-bottom: 2px solid $robinEggBlue;
        }
    }
    .icon {
        height: 48px;
        width: 51px;
        background-color: $robinEggBlue;
        border-radius: 50%;
        position: relative;

        &:hover,
        &:focus {
            background-color: white;
            outline: 4px solid $robinEggBlue;
        }

        a {
            position: absolute;
            font-size: 2.5rem;
            letter-spacing: $heading4Spacing;
            color: $darkBlueGrey;

            &:hover,
            &:focus {
                outline: none;
            }
        }
    }

    .locationsLink a {
        font-size: $heading4Size;
        top: -5%;
        left: -19%
    }
    .communityLink a {
        top: -7%;
        left: -20%;
    }
    .blogLink a {
        top: -7%;
        left: -7%
    }
    .getInTouchLink a {
        top: -6%;
        left: -12%
    }
}

.profile {
    padding: 75px 0;
    .sharkBanner {
        background-image: url(../assets/banner.jpg);
        min-height: 55vh;
        background-size: cover;
        background-position: center;
        margin-bottom: 100px;
    }
    .wrapper {
        display: flex;
        padding: 75px;

        h3 {
            text-align: left;
        }

        .smallBoxImage {
            flex-basis: 15%;
            max-height: 304px;
            box-shadow: 40px 39px 0px 0px $robinEggBlue;
        }

        .textContainer {
            flex-basis: 75%;
            text-align: left;
            margin-left: 100px;

            p {
                margin-bottom: 50px;
            }
        }
    }
}

.gallery {
    background-color: $spruce;
    padding: 100px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        li {
            flex-basis: 32%;
        }
    }

}