// Home - About Section - "What is Under the Sea?"

.about {
    padding: 50px 75px 100px 75px;
    margin-bottom: 50px;

    .contentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
}

// Home - News section - "New Additions" and "Meet Real Nemo"

.news {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 75px;
    background-color: $spruce;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    img {
        max-width: 40%;
    }

    .imageHalf {
        flex-basis: 45%;
    }
    .leftImage {
        position: absolute;
        left: 0;
        top: -40px;
        box-shadow: 40px 39px 0px 0px #86E0F9;
    }

    .rightImage {
        position: absolute;
        right: 0px;
        bottom: -40px;
        box-shadow: -40px 39px 0px 0px #86E0F9;
    }


    .newAdditions {
        display: flex;
        justify-content: space-between;

        .rightText {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: start;
        }
    }
    .realNemo {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;

        .leftText {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: end;
            text-align: right;
        }
        .readMore {
            align-self: end;
        }
    }
    .readMore {
        background-color: $darkBlueGrey;
        color: white;
        margin-bottom: 25px;
        width: 160px;
    }
}