// Media queries - Desktop-first

// Very large monitor range
@media (max-width: 1920px) {
    header {
        min-height: 900px;

        .headerBG {
            min-height: 640px;
        }
    }
    // Home - profile section
    .profile .sharkBanner {
        height: 40vh;
    }

    // Contact page
    .contactHeader {
        margin-bottom: 0;
    }
        
    .contactMain .wrapper {
        margin-top: -200px;
    }
    
}
@media (max-width: 1440px) {
    header {
        min-height: 700px;
        .wrapper {
            max-height: auto;
        }
    }
    // Contact page
    .contactHeader {
        max-height: 400px;
        
        .wrapper .headingContainer {
            margin-top: 100px;
        }
        
    }
    .contactMain .wrapper {
        margin-top: -50px;
        height: auto;
    }
}



// Large monitors to laptops
@media (max-width: 1241px) {
    // Home page styling

    // Home - about section
    .about {
        padding: 25px 75px 150px 75px;
    }

    // Home header
    header nav ul {
        flex-basis: 50%;
    }
    // Blog header
    .blogHeader {
        .headingContainer {
            margin: 10px 30px 0 0;
        }
    }

    // Home - news section 
    .news {
        margin-bottom: 50px;

        .realNemo {
            padding-top: 75px;
        }
        .imageContainer {
            flex-basis: 50%;
            &.leftImageContainer {
                margin-left: -83px;
                margin-top: -64px;
            }

            &.rightImageContainer {
                margin-right: -83px;
                margin-bottom: -64px;
            }
        }
    }

}

// Large tablet to small desktop computer size
@media (max-width: 1186px) {
    // Home header
    header {
        margin-bottom: 50px;
        .headerBG {
            min-height: 560px;
        }
        .wrapper {
            align-items: flex-start;
            height: auto;
        }
        h1 {
            font-size: calc($headerSize * 0.75);
            line-height: calc($headerHeight * 0.75);
            height: auto;
            margin-top: 100px;
        }
        nav {
            margin-bottom: 0px;
            
            ul {
                flex-basis: 100%
            }
        }
    }
    
    .profile h3,
    .about h3,
    .blogPost h3 {
        @include fontSize(34);
    }
    .profile {
        .sharkBanner {
            height: 30vh;
        }
        .wrapper {
            padding: 75px 0;
            .textContainer {
                margin-left: 75px;
            }
        }
    }    
    .news {
        padding-bottom: 0;
        
        .realNemo {
            padding-top: 25px;
        }
    }
    // Blog header
    .blogHeader {
        max-height: 700px;
        margin-bottom: 25px;

        .blogHeaderBG {
            height: 70vh;
            max-height: 490px;
        }
        .headingContainer {
                margin: 100px 0 0 0;
            }
    }

    .blogAbout {
        padding: 0 15px 25px 15px;
        transition: none;       

        h3 {
            @include fontSize(18)
        }

        p, a {
            @include fontSize(16);
            line-height: calc($bodyLineHeight * 0.8);
        }
    }
    // Contact page 
    .contactMain {

        .wrapper .contactFormSection {
            flex-basis: 64%;
        }
        .contactInfo {
            justify-content: center;
        }
    }

    .contactFormSection form {
        flex-direction: column;

        input {
            flex-basis: 100%;
        }
    }
}


// Landscape tablet
@media (max-width: 991px) {
        header {
            margin-bottom: 65px;
            min-height: auto;
            max-height: auto;
            
            .headerBG {
                min-height: auto;
            }

            nav ul {
                position: static;
            }
            .wrapper {
                height: auto;
            }
        
            h1 {
                margin-top: 55px;
                margin-bottom: 50px;
            }
            .goldfish {
                top: 120px;
            }
        }

        .news {
            .newAdditions {
                flex-direction: column;

                .leftImageContainer {
                    flex-basis: 99%;
                    margin-bottom: 75px;
                    margin-left: 0px;
                }

                .leftImage {
                    box-shadow: 29px 29px 0px 0px $robinEggBlue;
                    -webkit-box-shadow: 29px 29px 0px 0px $robinEggBlue;
                }
            }
            .realNemo {
                flex-direction: column-reverse;
                margin-top: 50px;
                align-items: flex-end;
                padding: 0;

                .rightImageContainer {
                    flex-basis: 99%;
                    margin-bottom: 75px;
                    margin-right: 0;

                    .rightImage {
                        box-shadow: -29px 39px 0px 0px $robinEggBlue;
                        -webkit-box-shadow: -29px 39px 0px 0px $robinEggBlue;
                    }
                }
            }
        }

        .links {
            padding: 25px 0;
            .wrapper {
                flex-direction: column;

                .locationsLink,
                .communityLink,
                .blogLink,
                .getInTouchLink {
                    flex-basis: 100%;

                }

            .contentBox {
                padding: 0 10px;
            }
            }
        }

    // Home - profile section
    .profile {
        
        .sharkBanner {
            max-height: 300px;
        }
        .wrapper {
            .imageContainer {
                flex-basis: 39%
            }
            .textContainer {
                flex-basis: 59%;
            }
        }
    }

    // Blog page
    .blogHeader {
        max-height: auto;
        height: auto;
        margin-bottom: 25px;
        padding: 0;

        .blogHeaderBG {
            max-height: auto;
            height: auto;
        }

        .wrapper {
            justify-content: flex-start;
            .headingContainer {
                flex-basis: calc(100% / 3);
            }
        }
    }
    .blogMain {

        .wrapper {
            flex-direction: column-reverse;
        }
        .blogAbout,
        .blogPost {
            flex-basis: 100%;
        }

        .blogAbout {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            width: auto;
            height: auto;
            margin: 25px auto;
            padding: 0;
            
            .blogAboutText,
            .blogRecentPosts,
            .imageContainer {
                flex-basis: 32%;
            }

            .imageContainer {
                max-width: 100%;
                margin: 0;
                padding: 0;
            }
        }
        .blogPost {
            padding: 0;
            margin-bottom: 25px;
            margin-top: -25px;

            .postText {
                padding-left: 50px;
            }

            .imageContainer {
                max-width: 95%;
            }
        }
    }

    // Contact page
    .contactMain {

        h3 {
            font-size: calc($heading3Size * 0.8);
        }
        p {
            font-size: calc($bodyFontSize * 0.8);
            line-height: calc($bodyLineHeight * 0.8);
        }

    }
}

// Landscape phone to tablet
@media (max-width: 790px) {

    header {

        h1 {
            margin-top: 125px;
            margin-bottom: 50px;
            font-size: calc($headerSize * 0.5);
            line-height: calc($headerHeight * 0.5);
        }
        
        nav {
            transition: 0.1s;
            ul {
                position: absolute;
                left: -5000px;
            }
            .hamburger {
                left: 85%;
                top: 20px;
            }
        }
    }

    h3,
    .links h3 a,
    .links h3 a:first-child,
    .locationsLink a,
    .communityLink a,
    .blogLink a,
    .getInTouchLink a{
        @include fontSize(26);
    }
    .about {
        padding: 25px 10px 150px 10px;
    }

    // Home - profile section
    .profile {
        .sharkBanner {
            max-height: 200px;
        }
        .wrapper {
            flex-direction: column;
            align-items: center;
            padding: 50px 0;

            .imageContainer,
            .textContainer {
                flex-basis: 100%;
            }

            .imageContainer {
                margin-bottom: 75px;
            }
            .textContainer {
                margin-left: 0;
            }
            .smallBoxImage {
                -webkit-box-shadow: 30px 30px 0px 0px $robinEggBlue;
                box-shadow: 30px 30px 0px 0px $robinEggBlue;
            }
        }
    }
    // Home - gallery section
    .gallery {
        ul {
            flex-direction: column;
            align-items: center;

            li {
                flex-basis: 100%;
            }
            li:nth-child(2) {
                margin: 25px 0;
            }
        }
    }
    // Blog page

    .blogHeader {
        max-height: 650px;
        margin-bottom: 25px;

        .headingContainer {
            margin: 100px 0 0 25px;

            h1 {
                font-size: calc($pageHeadingSize * 0.8);
                line-height: calc($pageHeadingHeight * 0.8);
            }
        }

        .blogHeaderBG {
            height: auto;
        }
    }
    .blogMain {
        .blogAbout {
            justify-content: center;
            .imageContainer,
            .blogAboutText,
            .blogRecentPosts {
                flex-basis: 75%;
            }
            .imageContainer {
                padding-top: 10px;
            }
        }
        .blogPost .postText {
                padding-left: 30px;
            }
        .comments {
            padding-left: 10px;

            p {
                @include fontSize(16);
                line-height: calc($bodyLineHeight * 0.8);
            }
        }

        .commentForm {
            flex-direction: column;

            input {
                flex-basis: 100%;
            }
        }
    }
    // Contact page
    .contactHeader {
        max-height: auto;
        height: auto;

        .contactHeaderBG {
            height: auto;
        }
        .wrapper .headingContainer {
            margin: 100px auto;
        }
        h1 {
            font-size: calc($pageHeadingSize * 0.8);
            line-height: calc($pageHeadingHeight * 0.8);
        }
    }

    .contactMain .wrapper {
        flex-direction: column-reverse;
        align-items: stretch;

        .contactFormSection {
            flex-basis: 100%;
            width: 100%;
            margin-bottom: 50px;
        }
        .contactInfo {
            justify-content: space-between;
            margin-top: 50px;
            flex-basis: 99%;
        }
    }
    .contactFormSection form {
        flex-basis: 100%;
    }

    .contactBody footer {
        margin-top: 50px;
    }
}

@media (max-width: 589px) {
    header h1 {
        margin-bottom: 20px;
    }
    .about h2 {
        @include fontSize(28)
    }

}

// Landscape phones to portrait modern phones
@media (max-width: 493px) {

    .wrapper {
        width: 95%;
    }

    header {
        margin-bottom: 25px;

        h1 {
            margin: 115px 5px 50px 5px;
            @include fontSize (39);
            line-height: 3.9rem;
        }
        nav .hamburger {
            @include fontSize (28);
            top: 10px;
            left: 80%;
        }
        .goldfish {
            width: 55%;
        }   
    }

    .profile h3 {
        @include fontSize(28);
    }
    .links {
        .locationsLink a {
            left: -26%
        }
        .communityLink a {
            left: -26%;
        }
        .blogLink a {
            left: -11%
        }
        .getInTouchLink a {
            left: -19%
        }
    }
    // Blog page {
    .blogPost {
        .postText p {
            @include fontSize(18);
            line-height: calc($bodyLineHeight * 0.9)
        }
        .imageContainer .blogFishImage {
            box-shadow: -25px 25px 0px 0px $robinEggBlue;
            -webkit-box-shadow: -25px 25px 0px 0px $robinEggBlue;
            left: 25px;
        }
    }

    .blogMain .blogAbout {
        .imageContainer,
        .blogAboutText,
        .blogRecentPosts {
            flex-basis: 100%;
        }

        .imageContainer {
            padding-top: 0;
        }
    }

    // Contact page
    .contactMain .wrapper .contactFormSection {
        margin: 50px auto;
    }
}

// Small phones and below
@media (max-width: 406px) {
    body p {
        font-size: calc($bodyFontSize * 0.8);
        line-height: calc($bodyLineHeight * 0.8);
    }
    header {
        h1 {
            margin-bottom: 10px;
        }
    }

    .profile h2,
    .about h2 {
        @include fontSize(20);
        margin-bottom: 0px;
    }
    .profile .wrapper {
        align-items: flex-start;
    }
    .contactFormSection .contactForm {
        padding: 10px;

        input,
        textarea {
            flex-basis: 99%;
        }
    }
}