// Media queries - Desktop-first


@media (max-width: 1241px) {

    // Home - about section
    .about {
        padding: 0 75px 150px 75px;
    }
    // Home news section
    .news .realNemo .imageContainer {
        flex-basis: 50%;
    }
}


// Large tablet to small desktop computer size
@media (max-width: 1185px) {
    // Home page styling

    // Home header
    header {
        height: auto;
        margin-bottom: 225px;
        .headerBG {
            height: 40vh;
        }
        nav {
            margin-bottom: 30px;
            
            ul {
                flex-basis: 50%;
            }
        }
    }

    // Home - news section 
    .news {
        margin-bottom: 50px;

        .realNemo {
            padding-top: 75px;
        }
        .imageContainer {
            &.leftImageContainer {
                margin-left: -83px;
                margin-top: -64px;
            }

            &.rightImageContainer {
                margin-right: -83px;
                margin-bottom: -64px;
            }
        }
    }

    // Home - Links section
    .links {

    }

    // Home - Profile section
    .profile h3,
    .about h3 {
        @include fontSize(34);
    }
    .profile .wrapper{

        .textContainer {
            margin-left: 75px;
        }
    }
    
}

@media (max-width: 1010px) {
    header {
        height: auto;

        .wrapper {
            height: auto;
        }

        .headerBG {
            height: 60vh;
        }
        
        h1 {
            font-size: calc($headerSize * 0.75);
            line-height: calc($headerHeight * 0.75);
            height: 60vh;
        }
        
        nav {
            margin-bottom: 0px;

            ul {
                flex-basis: 100%
            }
        }
        
    }

    .news {
        padding-bottom: 0;

        .realNemo {
            padding-top: 25px;
        }
    }
    
}

// Landscape phone to tablet
@media (max-width: 777px) {

}
// Landscape phone and below 
@media (max-width: 480px) {

}