// SASS mixins

// fontSize mixin pulled from Juno's bootcamp notes https://github.com/HackerYou/bootcamp-notes/blob/main/css/preprocessors-scss.md

@mixin fontSize($sizeValue) {
  font-size: calc($sizeValue * 1px);
  font-size: calc(($sizeValue / 10) * 1rem);
}

@mixin boxReset {
    margin: 0;
    padding: 0;
}

// Sourced from engage interactive: https://engageinteractive.co.uk/blog/top-10-scss-mixins
@mixin centerBlock { 
    margin-left: auto;
    margin-right: auto;
}

// Sourced from engage interactive: https://engageinteractive.co.uk/blog/top-10-scss-mixins
@mixin pseudoElement ($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}