// Set initial font size so that 1rem = 10px;

html {
    font-size: 62.5%;
}

// Universal font styling
body {
    font-family: $bodyFont, sans-serif;
    font-size: $bodyFontSize;
    font-weight: $bodyWeight;
    line-height: $bodyLineHeight;
    color: white;
}

// Headers, nav, button
h1,
h2,
h3,
nav a,
button {
    font-family: $headingFont, sans-serif;
    font-weight: $headingWeight;
    color: white;
    text-transform: uppercase;
    @include boxReset;
}

// Headers
h1 {
    font-size: $headerSize;
    line-height: $headerHeight;
}

.pageH1 {
    font-size: $pageHeadingSize;
    line-height: $pageHeadingHeight;
}

h2 {
    font-size: $heading2Size;
    line-height: $heading2Height;
}

h3 {
    font-size: $heading3Size;
    letter-spacing: $heading3Spacing;
    text-align: center;
}

// navigation
nav {
    font-family: $navFont, sans-serif;
    font-size: $navigationFontSize;
    line-height: $navigationLineHeight;
    letter-spacing: $navigationSpacing;
    text-align: center;
}
// button and stylized anchors
button,
a {
    font-family: $buttonFont, sans-serif;
    font-size: $buttonFontSize;
    line-height: $buttonLineHeight;
    letter-spacing: $buttonSpacing;
    text-transform: uppercase;
    text-align: center;
}

// Form elements
input,
textarea {
    font-weight: $bodyWeight;
    line-height: $bodyLineHeight;
    color: white;
    font-family: $bodyFont, sans-serif;
}

// Blog - About section typography

.blogAbout {
    h3 {
        font-size: $blogHeading3Size;
        margin-bottom: 15px;
        text-align: left;
    }

    a {
        outline: none;
        border: none;
        display: inline;
        @include boxReset;
        font-family: $bodyFont, sans-serif;
        text-transform: none;
        font-weight: $bodyWeight;
        letter-spacing: normal;
        line-height: $bodyLineHeight;
    }
}