// Set initial font size so that 1rem = 10px;

html {
    font-size: 62.5%;
}

// Universal font styling
body {
    font-family: $bodyFont, sans-serif;
    font-size: $bodyFontSize;
    font-weight: $bodyWeight;
    line-height: $bodyLineHeight;
    color: white;
}

// Headers, nav, button
h1,
h2,
h3,
h4,
nav a,
button {
    font-family: $headingFont, sans-serif;
    font-weight: $headingWeight;
    color: white;
    text-transform: uppercase;
    @include boxReset;
}

// Headers
h1 {
    font-size: $headerSize;
    line-height: $headerHeight;
}

h2 {
    font-size: $heading2Size;
    line-height: $heading2Height;
}

h3 {
    font-size: $heading3Size;
    letter-spacing: $heading3Spacing;
    text-align: center;
}

h4 {
    font-size: $heading4Size;
    letter-spacing: $heading4Spacing;
}

// navigation
nav {
    font-family: $navFont, sans-serif;
    font-size: $navigationFontSize;
    line-height: $navigationLineHeight;
    letter-spacing: $navigationSpacing;
    text-align: center;
}
// button and stylized anchors
button,
a {
    font-family: $buttonFont, sans-serif;
    font-size: $buttonFontSize;
    line-height: $buttonLineHeight;
    letter-spacing: $buttonSpacing;
    text-transform: uppercase;
    text-align: center;
}

// Form elements
input,
textarea {
    font-weight: $bodyWeight;
    line-height: $bodyLineHeight;
    color: white;
}