// SASS Variables

// Colour variables
$robinEggBlue: #86E0F9;
$spruce: #0F614E;
$darkBlueGrey: #0C1423;

// Fonts
$headingFont: "Barlow";
$navFont: "Barlow";
$buttonFont:  "Barlow";
$bodyFont: "Lato";

// Font weights
$headingWeight: 700;
$bodyWeight: 400;
$buttonWeight: 700;

// Font size variables
$baseFontSize: 2rem; // With font size set to 62.5%, 2rem = 20px.
$headerSize: 138px;
$heading2Size: 80px;
$heading3Size: 42px;
$heading4Size: 32px;
$navigationFontSize: 20px;
$buttonFontSize: 20px;
$bodyFontSize: 20px;

// Line height variables;

$headerHeight: 126px;
$heading2Height: 92px;
$navigationLineHeight: 29px;
$buttonLineHeight: 32px;
$bodyLineHeight: 32px;

// Letter spacing variables;

$heading3Spacing: 1px;
$heading4Spacing: 1px;
$navigationSpacing: 1px;
$buttonSpacing: 1px;