html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: white;
}

h1,
h2,
h3,
h4,
nav a,
button {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 138px;
  line-height: 126px;
}

h2 {
  font-size: 80px;
  line-height: 92px;
}

h3 {
  font-size: 42px;
  letter-spacing: 1px;
  text-align: center;
}

h4 {
  font-size: 32px;
  letter-spacing: 1px;
}

nav {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
}

button,
a {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

body {
  background-color: #0C1423;
}
body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body img {
  max-width: 100%;
  height: auto;
  display: block;
}
body .wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
body a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body a:focus, body a:hover {
  outline: 4px solid #86E0F9;
}
body button {
  margin: 0;
  padding: 0;
  padding: 10px 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body button:focus, body button:hover {
  outline: 4px solid #86E0F9;
}
body h3 {
  margin-bottom: 25px;
}
body .findOutMore {
  background-color: #86E0F9;
  color: #0C1423;
  padding: 10px 40px;
  margin: 25px 0;
}
body .findOutMore:focus, body .findOutMore:hover {
  outline: 4px solid white;
}
body .leftImage {
  position: absolute;
  left: 0;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
body .rightImage {
  position: absolute;
  right: 0;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

header {
  height: 100vh;
  margin-bottom: 75px;
}
header .headerBG {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/header-image.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 105px;
}
header nav .hamburger {
  position: absolute;
  left: -5000px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header nav .homeNav {
  color: #86E0F9;
}
header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 33.3333333333%;
}
header .goldfish {
  position: absolute;
  width: 50%;
  right: 0;
  top: 175px;
}

footer {
  text-align: center;
  background-color: #86E0F9;
  color: #0C1423;
}
footer p {
  margin: 0 auto;
}

.about {
  padding: 50px 75px 100px 75px;
  margin-bottom: 50px;
}
.about .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.news {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 75px;
  background-color: #0F614E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.news img {
  width: 40%;
  position: absolute;
}
.news .newAdditions,
.news .realNemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
.news .newAdditions .contentContainer,
.news .realNemo .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 45%;
}
.news .newAdditions .contentContainer {
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.news .newAdditions .contentContainer p {
  padding: 0 35px 25px 0;
}
.news .realNemo .contentContainer {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.news .realNemo .contentContainer p {
  padding: 0 0 25px 35px;
}
.news .readMore {
  background-color: #0C1423;
  color: white;
  margin-bottom: 25px;
}