html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: white;
}

h1,
h2,
h3,
h4,
nav a,
button {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 13.8rem;
  line-height: 12.6rem;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3 {
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

h4 {
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
}

nav {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

button,
a {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
}

input,
textarea {
  font-weight: 400;
  line-height: 3.2rem;
  color: white;
  font-family: "Lato", sans-serif;
}

.blogAbout h4 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}
.blogAbout a {
  outline: none;
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 3.2rem;
}

body {
  background-color: #0C1423;
  overflow-x: hidden;
}
body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body img {
  max-width: 100%;
  height: auto;
  display: block;
}
body .wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}
body a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body a:focus, body a:hover {
  outline: 4px solid #86E0F9;
}
body button {
  margin: 0;
  padding: 0;
  padding: 10px 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body button:focus, body button:hover {
  outline: 4px solid #86E0F9;
}
body h3 {
  margin-bottom: 25px;
}
body .findOutMore {
  background-color: #86E0F9;
  color: #0C1423;
  padding: 10px 40px;
  margin: 25px 0;
}
body .findOutMore:focus, body .findOutMore:hover {
  outline: 4px solid white;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
form input {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #86E0F9;
}
form input:hover, form input:focus {
  border-bottom: 2px solid white;
}
form input::-webkit-input-placeholder {
  opacity: 1;
}
form input::-moz-placeholder {
  opacity: 1;
}
form input:-ms-input-placeholder {
  opacity: 1;
}
form input::-ms-input-placeholder {
  opacity: 1;
}
form input::placeholder {
  opacity: 1;
}
form textarea,
form button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 30px;
}
form textarea {
  border: 2px solid #86E0F9;
  padding: 20px;
  resize: none;
}
form textarea:hover, form textarea:focus {
  border: 2px solid white;
}
form textarea::-webkit-input-placeholder {
  opacity: 1;
}
form textarea::-moz-placeholder {
  opacity: 1;
}
form textarea:-ms-input-placeholder {
  opacity: 1;
}
form textarea::-ms-input-placeholder {
  opacity: 1;
}
form textarea::placeholder {
  opacity: 1;
}
form button:hover,
form button:focus {
  outline: 4px solid white;
}

header {
  height: 100vh;
  max-height: 1200px;
  margin-bottom: 75px;
}
header .headerBG {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/header-image.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 80vh;
  max-height: 900px;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80vh;
  max-height: 900px;
}
header nav {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 75px;
}
header nav .hamburger {
  position: absolute;
  left: -5000px;
  font-size: 34px;
  font-size: 3.4rem;
  padding: 5px 10px;
}
header nav .hamburger:hover, header nav .hamburger:focus, header nav .hamburger:active {
  outline: 4px solid #86E0F9;
  color: #86E0F9;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header nav .homeNav {
  color: #86E0F9;
}
header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
  height: 80%;
}
header .goldfish {
  width: 50%;
  position: absolute;
  right: 0;
  top: 155px;
}

footer {
  text-align: center;
  background-color: #86E0F9;
  color: #0C1423;
}
footer p {
  margin: 0 auto;
}

.about {
  padding: 50px 75px 100px 75px;
  margin: 50px 0;
}
.about .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.news {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 75px;
  background-color: #0F614E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news .imageContainer {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}
.news .imageContainer.leftImageContainer {
  margin-left: -83px;
  margin-top: -64px;
}
.news .imageContainer.rightImageContainer {
  margin-right: -83px;
  margin-bottom: -64px;
}
.news .leftImage {
  box-shadow: 40px 39px 0px 0px #86E0F9;
  -webkit-box-shadow: 40px 39px 0px 0px #86E0F9;
}
.news .rightImage {
  box-shadow: -40px 39px 0px 0px #86E0F9;
  -webkit-box-shadow: -40px 39px 0px 0px #86E0F9;
}
.news .newAdditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news .newAdditions .rightText {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.news .realNemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}
.news .realNemo .leftText {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}
.news .readMore {
  background-color: #0C1423;
  color: white;
  margin-bottom: 25px;
  width: 160px;
}

.links {
  padding: 75px 0 25px 0;
}
.links .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.links .locationsLink,
.links .communityLink,
.links .blogLink,
.links .getInTouchLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 25px;
}
.links .locationsLink .contentBox,
.links .communityLink .contentBox,
.links .blogLink .contentBox,
.links .getInTouchLink .contentBox {
  -ms-flex-preferred-size: 89%;
      flex-basis: 89%;
  margin-left: 10px;
  margin-top: 6px;
  padding: 0 5px;
}
.links h4 a {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
}
.links h4 a:hover, .links h4 a:focus {
  color: #86E0F9;
  outline: none;
  border-bottom: 2px solid #86E0F9;
}
.links .icon {
  height: 48px;
  width: 51px;
  background-color: #86E0F9;
  border-radius: 50%;
  position: relative;
}
.links .icon:hover, .links .icon:focus {
  background-color: white;
  outline: 4px solid #86E0F9;
}
.links .icon a {
  position: absolute;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: #0C1423;
}
.links .icon a:hover, .links .icon a:focus {
  outline: none;
}
.links .locationsLink a {
  font-size: 3.2rem;
  top: -5%;
  left: -19%;
}
.links .communityLink a {
  top: -7%;
  left: -20%;
}
.links .blogLink a {
  top: -7%;
  left: -7%;
}
.links .getInTouchLink a {
  top: -6%;
  left: -12%;
}

.profile {
  padding: 75px 0;
}
.profile .sharkBanner {
  background-image: url(../assets/banner.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}
.profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0;
}
.profile .wrapper h3 {
  text-align: left;
}
.profile .wrapper .imageContainer {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  margin-top: -30px;
}
.profile .wrapper .smallBoxImage {
  -webkit-box-shadow: 40px 39px 0px 0px #86E0F9;
          box-shadow: 40px 39px 0px 0px #86E0F9;
}
.profile .wrapper .textContainer {
  -ms-flex-preferred-size: 69%;
      flex-basis: 69%;
  text-align: left;
  margin-left: 100px;
}
.profile .wrapper .textContainer p {
  margin-bottom: 50px;
}

.gallery {
  background-color: #0F614E;
  padding: 100px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.gallery ul li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.blogHeader {
  height: 100vh;
  margin-bottom: 100px;
  max-height: 850px;
}
.blogHeader .blogHeaderBG {
  background-image: url("../assets/blog-header.jpg");
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 800px;
}
.blogHeader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 800px;
}
.blogHeader nav {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 75px;
}
.blogHeader .homeNav {
  color: white;
}
.blogHeader .blogNav {
  color: #86E0F9;
}
.blogHeader .headingContainer {
  -ms-flex-preferred-size: 54%;
      flex-basis: 54%;
  height: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.blogHeader .imageSpace {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.blogMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogAbout {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 0 15px 25px 25px;
  background-color: #0F614E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}
.blogAbout a:hover,
.blogAbout a:focus {
  outline: none;
  color: #86E0F9;
  font-weight: bold;
  border-bottom: 2px solid #86E0F9;
}
.blogAbout .imageContainer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-left: -107px;
  margin-bottom: 25px;
  margin-top: -20px;
}
.blogAbout .blogAboutText,
.blogAbout .blogRecentPosts {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 10px;
  background-color: #0F614E;
}
.blogAbout ul {
  list-style: inside;
  list-style-type: disc;
  line-height: 3.2rem;
}

.blogPost {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  padding: 0 0 75px 10px;
  margin-top: -387px;
}
.blogPost .imageContainer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-right: -47px;
  margin-bottom: 20px;
}
.blogPost .imageContainer .blogFishImage {
  box-shadow: -35px 35px 0px 0px #86E0F9;
  -webkit-box-shadow: -35px 35px 0px 0px #86E0F9;
  position: relative;
  left: 35px;
}
.blogPost h3 {
  text-align: left;
  margin-bottom: 15px;
}
.blogPost .postText {
  width: 100%;
  border-bottom: 10px solid #86E0F9;
  border-left: 10px solid #86E0F9;
  padding: 50px 0 20px 65px;
}
.blogPost .postText .blogDateAuthor {
  margin: 0 0 50px 0;
}
.blogPost .postText .post p {
  margin: 0 0;
}
.blogPost .comments {
  padding-top: 30px;
  padding-left: 40px;
}
.blogPost .comments h4 {
  margin-bottom: 40px;
}
.blogPost .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}
.blogPost .comment p {
  margin-top: 10px;
}
.blogPost .comment img {
  -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
  max-width: 91px;
  max-height: 89px;
  margin-top: 8px;
}
.blogPost .comment .commentDateAuthor {
  margin: 0;
}
.blogPost .comment .textBox {
  -ms-flex-preferred-size: 84%;
      flex-basis: 84%;
}
.blogPost form input {
  background-color: #0C1423;
}
.blogPost form textarea {
  background-color: #0C1423;
}
.blogPost form button {
  background-color: #0F614E;
}

.contactBody {
  height: 100vh;
}

.contactHeader {
  height: 65vh;
}
.contactHeader .contactHeaderBG {
  height: 65vh;
  background-image: url("../assets/contact-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contactHeader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactHeader .wrapper nav {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 0;
}
.contactHeader .wrapper .contactH2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  height: 350px;
}
.contactHeader .homeNav {
  color: white;
}
.contactHeader .contactNav {
  color: #86E0F9;
}

.contactMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px auto;
}
.contactMain .wrapper .contactInfo {
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
}
.contactMain .wrapper .contactFormSection {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}
.contactInfo a:hover,
.contactInfo a:focus {
  outline: none;
  color: #86E0F9;
}
.contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactInfo ul .facebook {
  padding-left: 0;
}
.contactInfo .contactEmailAddress {
  font-size: 26px;
  font-size: 2.6rem;
  padding: 25px 0;
}
.contactInfo .contactEmailAddress:hover, .contactInfo .contactEmailAddress:focus {
  text-decoration: underline;
}
.contactInfo .contactEmailAddress:hover h4, .contactInfo .contactEmailAddress:focus h4 {
  color: #86E0F9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contactInfo p {
  margin: 5px 0;
}

.contactForm {
  background-color: #0F614E;
  padding: 50px;
  margin-top: -300px;
  box-shadow: -40px 40px 0px -6px #86E0F9;
  -webkit-box-shadow: -40px 40px 0px -6px #86E0F9;
}
.contactForm input,
.contactForm textarea {
  background-color: #0F614E;
}
.contactForm button {
  background-color: #0C1423;
}

@media (max-width: 1850px) {
  header {
    max-height: 900px;
  }
  header .headerBG {
    max-height: 640px;
  }
  header .headerBG .wrapper {
    max-height: 640px;
  }

  .profile .sharkBanner {
    height: 40vh;
  }
}
@media (max-width: 1241px) {
  .about {
    padding: 25px 75px 150px 75px;
  }

  header {
    margin-bottom: 75px;
  }
  header nav ul {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .news {
    margin-bottom: 50px;
  }
  .news .realNemo {
    padding-top: 75px;
  }
  .news .imageContainer {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .news .imageContainer.leftImageContainer {
    margin-left: -83px;
    margin-top: -64px;
  }
  .news .imageContainer.rightImageContainer {
    margin-right: -83px;
    margin-bottom: -64px;
  }
}
@media (max-width: 1186px) {
  header {
    max-height: 700px;
    margin-bottom: 75px;
  }
  header .headerBG {
    height: 70vh;
    max-height: 560px;
  }
  header .wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
  }
  header h1 {
    font-size: 10.35rem;
    line-height: 9.45rem;
    height: auto;
    margin-top: 100px;
  }
  header nav {
    margin-bottom: 0px;
  }
  header nav ul {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .profile h3,
.about h3 {
    font-size: 34px;
    font-size: 3.4rem;
  }

  .profile .sharkBanner {
    height: 30vh;
  }
  .profile .wrapper {
    padding: 75px 0;
  }
  .profile .wrapper .textContainer {
    margin-left: 75px;
  }

  .news {
    padding-bottom: 0;
  }
  .news .realNemo {
    padding-top: 25px;
  }
}
@media (max-width: 991px) {
  header {
    height: auto;
    max-height: 650px;
    padding-bottom: 50px;
  }
  header nav ul {
    position: static;
  }
  header .headerBG {
    height: auto;
  }
  header .headerBG .wrapper {
    height: auto;
  }
  header h1 {
    margin-bottom: 25px;
    margin-top: 75px;
  }
  header .goldfish {
    top: 120px;
  }

  .news .newAdditions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .newAdditions .leftImageContainer {
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
    margin-bottom: 75px;
    margin-left: 0px;
  }
  .news .newAdditions .leftImage {
    box-shadow: 29px 29px 0px 0px #86E0F9;
    -webkit-box-shadow: 29px 29px 0px 0px #86E0F9;
  }
  .news .realNemo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 50px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
  }
  .news .realNemo .rightImageContainer {
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
    margin-bottom: 75px;
    margin-right: 0;
  }
  .news .realNemo .rightImageContainer .rightImage {
    box-shadow: -29px 39px 0px 0px #86E0F9;
    -webkit-box-shadow: -29px 39px 0px 0px #86E0F9;
  }

  .links {
    padding: 25px 0;
  }
  .links .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links .wrapper .locationsLink,
.links .wrapper .communityLink,
.links .wrapper .blogLink,
.links .wrapper .getInTouchLink {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .links .wrapper .contentBox {
    padding: 0 10px;
  }

  .profile .sharkBanner {
    max-height: 300px;
  }
  .profile .wrapper .imageContainer {
    -ms-flex-preferred-size: 39%;
        flex-basis: 39%;
  }
  .profile .wrapper .textContainer {
    -ms-flex-preferred-size: 59%;
        flex-basis: 59%;
  }
}
@media (max-width: 790px) {
  header h1 {
    margin-top: 105px;
    font-size: 6.9rem;
    line-height: 6.3rem;
  }
  header nav {
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  header nav ul {
    position: absolute;
    left: -5000px;
  }
  header nav .hamburger {
    left: 85%;
    top: 20px;
  }

  h4,
.links h4 a,
.links h4 a:first-child,
.locationsLink a,
.communityLink a,
.blogLink a,
.getInTouchLink a {
    font-size: 26px;
    font-size: 2.6rem;
  }

  .about {
    padding: 25px 10px 150px 10px;
  }

  .profile .sharkBanner {
    max-height: 200px;
  }
  .profile .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
  }
  .profile .wrapper .imageContainer,
.profile .wrapper .textContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .profile .wrapper .imageContainer {
    margin-bottom: 75px;
  }
  .profile .wrapper .textContainer {
    margin-left: 0;
  }
  .profile .wrapper .smallBoxImage {
    -webkit-box-shadow: 30px 30px 0px 0px #86E0F9;
    box-shadow: 30px 30px 0px 0px #86E0F9;
  }

  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery ul li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 25px;
  }
  .gallery ul li:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 493px) {
  .wrapper {
    width: 95%;
  }

  header {
    margin-bottom: 25px;
  }
  header h1 {
    margin: 115px 5px 50px 5px;
    font-size: 39px;
    font-size: 3.9rem;
    line-height: 3.9rem;
  }
  header nav .hamburger {
    font-size: 28px;
    font-size: 2.8rem;
    top: 7px;
    left: 80%;
  }
  header .goldfish {
    width: 55%;
  }

  .profile h3,
.about h3 {
    font-size: 28px;
    font-size: 2.8rem;
  }

  .links .locationsLink a {
    left: -26%;
  }
  .links .communityLink a {
    left: -26%;
  }
  .links .blogLink a {
    left: -11%;
  }
  .links .getInTouchLink a {
    left: -19%;
  }
}
@media (max-width: 406px) {
  body p {
    font-size: 1.6rem;
    line-height: 2.56rem;
  }

  header h1 {
    margin-bottom: 10px;
  }

  .profile h3,
.about h3 {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 0px;
  }

  .profile .wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}